@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: #f9f9f9;
  --lightGray: #686868;
  --grayPercent: #e3e3e34d;
  --gray: #262626;
  --lightDark: #1f1f1f;
  --blue: #4f92f7;
  --green: #30b94d;
  --error: #e90516;

  font-weight: 500;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

input[type='number'] {
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-scrollbar::-webkit-scrollbar {
  margin-right: 20px;
  /* width: 5px; */
  width: 7px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background: var(--gray); */
  background: var(--lightDark);
  border-radius: 15px;
  width: 6px; /* Ширина самого скрола НЕ ПРАЦЮЄ напряму */
  margin: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}
